*{
    margin: 0;
    padding: 0;
}
.home{
    width: 100%;
    height: 14.1vh;
    background-color: #292929;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.homesas1{
    width: 18%;
    height: 12.1vh;
    background-color: #ca1016;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}
.homesas2{
    width: 53%;
    height: 14.1vh;
    
}
.turbosoz1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 9.05vh;
    color: #ffffff;
    font-size: 4.5vh;
    background-color: #ca1016;
    font-family: 'Inter', sans-serif;
    
}

.turbosoz2{
    width: 100%;
    height: 6.05vh;
    margin-top: 2px;
    color: #ffffff;
    font-size: 1.55vh;
    font-family: 'Raleway', sans-serif;
}
.homedestek{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.elave{
    width: 55%;
    font-size: 1.58vh;
    height: 5vh;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 1.5vh;
    cursor: pointer;

}
.dil{
    width: 15%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.secilmis{
    width: 18%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.secilmissoz{
    width: 45%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.secilmislogo{
    width: 30%;
    height: 5vh;
    background-image: url(../img/heart-simple-shape-silhouette\ \(2\).png);
    background-position: center;
    background-size: 39%;
    background-repeat: no-repeat;
}
.login{
    width: 12%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.loginsoz{
    width: 45%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.loginlogo{
    width: 30%;
    height: 5vh;
    background-image: url(../img/user-silhouette\ \(1\).png);
    background-position: center;
    background-size: 61%;
    background-repeat: no-repeat;
}
.homedeaz{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.az{
    width: 33.3%;
    height: 9vh;
    background-color: #424242;
    border-right: 1px solid #616161;
    border-top: 1px solid #616161;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.bina:hover{
    background-color: #ad7a5a;
    transition:  0.2s;
    
}
.tap:hover{
    background-color: #ff6617;
    transition:  0.2s;
}
.boss:hover{
    background-color: orange;
    transition:  0.2s;
}
.com{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 33.3%;
    height: 9vh;
    font-size: 4.41vh;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.homesalon{
    width: 100%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
}
.salon{
    width: 55%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.butun{
    width: 16%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.avto{
    width: 16%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.magaza{
    width: 23%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.ehtiyat{
    width: 33%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.z:hover{
    background-color:#e90f3a;
    transition: 0.2s;
}
.sozler{
    width: 100%;
    height: 6vh;
    font-size: 1.95vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.elan{
    width: 16%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ed321;
}
.pluslogo{
    width: 20%;
    height: 6vh;
    background-image: url(../img/plus\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58%;
}
.elan:hover{
    background-color: #6aa52a;
    transition:  0.2s;
}
.sozler1{
    width: 55%;
    height: 6vh;
    font-size: 2.49vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.marka{
    position: relative;
    background-color: #d8d8d8;
    margin: auto;
    width: 71%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.axtaris1{
    width: 100%;
    height: 7.5vh;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.box-1{
    margin-top: 2vh;
    width: 16%;
    height: 7.5vh;
    margin-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.butunmarkalar{
    width: 97%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border: white solid 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.box-2{
    margin-top: 2vh;
    width: 31%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.markaiki{
    width: 16%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    border-right: 2px solid #d8d8d8;
    cursor: pointer;
    font-weight: bold;
}
.aznler{
    width: 16%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    border-right: 2px solid #d8d8d8;
    cursor: pointer;
    font-weight: bold;
}
.markaqiymet{
    width: 25%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 2px solid #d8d8d8;
    font-weight: bold;
    

}
.box-3{
    margin-top: 2vh;
    width: 10%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.markauc{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 3.95vh;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
.markaucsoz{
    width: 85%;
    height: 3.75vh;
    font-size: 1.70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.markabox{
    width: 25%;
    height: 4vh;
    border-right: 2px solid #d8d8d8;
    margin-right: 1vh;
   border: white solid 2px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.box-4{
    margin-top: 2vh;
    width: 15.5%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seher{
    
        width: 97%;
        height: 1.75vh;
        padding: 1vh;
        font-size: 1.70vh;
        border: white solid 2px;
        border-radius: 4px;
        background-color: #fff;
        color: #828282;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
    
    
}
.axdar{
    margin-top: 2vh;
    width: 17.5%;
    height: 3.75vh;
    border: #ca1016 solid 2px;
    background-color: #ca1016;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
.axtaris2{
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.boks-1{
    margin-bottom: 1vh;
    width: 16%;
    height: 7.5vh;
    margin-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boks-2{
    margin-bottom: 1vh;
    width: 31%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boksmarka2{
    width: 40%;
    height: 1.75vh;
    padding: 1vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.70vh;
    border: white solid 2px;
    border-right: 10px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    border-right: 2px solid #d8d8d8;
    cursor: pointer;
    font-weight: bold;
}
.markaqiymetiki{
    width: 25%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 2px solid #d8d8d8;
    font-weight: bold;

}
.markaboks{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 3.95vh;
    border: white solid 2px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.markaboksoz{
    width: 85%;
    height: 3.75vh;
    font-size: 1.70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.markaboxuc{
    width: 25%;
    height: 4vh;
    border-right: 2px solid #d8d8d8;
    margin-right: 1vh;
   border: white solid 2px;
    border-radius: 4px;
    cursor: pointer;
}
.boks-3{
    margin-bottom: 1vh;
    width: 10%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boks-4{
    margin-bottom: 1vh;
    width: 15.5%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SON{
    width: 97%;
    height: 1.75vh;
    padding: 1vh;
    font-size: 1.70vh;
    border: white solid 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #828282;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
.etrafli{
    margin-bottom: 1vh;
    width: 17.5%;
    height: 3.75vh;
    border:#797979 solid 2px;
    background-color: #797979;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.elanlar{
    width: 71%;
    height: 8vh;
    margin: auto;
}
.elanbasliq{
    width: 50%;
    height: 8vh;
    margin-left: 6px;
    font-size: 1.25vh;
    color: black;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.esascart{
    width: 71%;
    height: 100%;
    margin: auto;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}
.esas-1{
    width: 22%;
    height: 32vh;
    margin-top: 27px;
    margin-left: 13px;
    margin-right: 13px;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
.esas-1:hover{
    background-color: #cadff3;
    transition: 0.2s;
}
.sekil{
    width: 100%;
    height: 21vh;
    background-position: center;
    background-size: 101%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}
.sekilesas-1{
    background-image: url(../img/range.jpg);
}
.qirmiziqiymet{
    width: 37%;
    height: 3.8vh;
    background-color: #c9171d;
}
.qirmiziag{
    width: 100%;
    height: 3.8vh;
    font-size: 1.70vh;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartsoz1-1{
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.masinad-1{
    width: 97%;
    height: 1.75vh;
    font-size: 2.09vh;
    font-family: 'Inter', sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.masinil-1{
    width: 97%;
    height: 1.75vh;
    font-size: 1.70vh;
    color: #444444;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1vh;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
.masindaxil-1{
    width: 97%;
    height: 1.75vh;
    font-size: 1.40vh;
    font-family: 'Inter', sans-serif;
    color: #828282;
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.cartsoz2-1{
    width: 100%;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cartsoz3-1{
    width: 100%;
    height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sekilesas-2{
    background-image: url(../img/rr.jpg);
}
.sekilesas-3{
    background-image: url(../img/mers.jpg);
}
.sekilesas-4{
    background-image: url(../img/mers2.jpg);
}
.sekilesas-5{
    background-image: url(../img/bmw.jpg);
}
.sekilesas-6{
    background-image: url(../img/bmw2.jpg);
}
.sekilesas-7{
    background-image: url(../img/bent.jpg);
}
.sekilesas-8{
    background-image: url(../img/ferrari.jpg);
}
.sekilesas-9{
    background-image: url(../img/bent2.jpg);
}
.sekilesas-10{
    background-image: url(../img/pors.jpg);
}
.razilasma{
    margin: auto;
    width: 71%;
    height: 28vh;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qirmizixet{
    margin: auto;
    width: 71%;
    height: 0.50vh;
    background-color: #c71b25;
}
.finishome1{
    width: 25%;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.finishome2{
    width: 60%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444444;
}
.sonhome1{
    width: 100%;
    height: 5vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.sonhome2{
    width: 100%;
    height: 8vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.sonhome3{
    width: 100%;
    height: 15vh;
    margin-left: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.containerhome-1-1{
    width: 100%;
    height: 5vh;
    margin-left: 4vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: white;
}
.containerhome-2-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qayda{
    width: 30%;
    margin-left: 2vh;
    height: 5vh;
    display: flex;
    color:white;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
}
.qanun{
    width: 70%;
    height: 5vh;
    display: flex;
    align-items: center;
    color:white;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
}
.containerhome-3-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/laptop.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.il2006{
    width: 25%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.turboaz{
    width: 60%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.containerhome-4-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.telogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/phone.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.nomre1{
    width: 40%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.22vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}

.containerhome-5-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/email\ \(1\).png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}
.mail{
    width: 85%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.containerhome-6-1{
    width: 100%;
    height: 5vh;
    margin-left: 4vh;
    display: flex;
    color:white;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
}
.finishome3{
    width: 15%;
    height: 28vh;
    display: flex;
    justify-content: center;
    background-color: #444444;
}
.reytinqlogo{
    width: 60%;
    height: 15vh;
    margin-top: 3vh;
    background-image: url(../img/turbo\ logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
   
}
