*{
    margin: 0;
    padding: 0;
}
.home{
    width: 100%;
    height: 14.1vh;
    background-color: #292929;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.homesas1{
    width: 18%;
    height: 12.1vh;
    background-color: #ca1016;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}
.homesas2{
    width: 53%;
    height: 14.1vh;
    
}
.turbosoz1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 9.05vh;
    color: #ffffff;
    font-size: 4.5vh;
    background-color: #ca1016;
    font-family: 'Inter', sans-serif;
    
}

.turbosoz2{
    width: 100%;
    height: 6.05vh;
    margin-top: 2px;
    color: #ffffff;
    font-size: 1.55vh;
    font-family: 'Raleway', sans-serif;
}
.homedestek{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.elave{
    width: 55%;
    font-size: 1.58vh;
    height: 5vh;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 1.5vh;
    cursor: pointer;

}
.dil{
    width: 15%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.secilmis{
    width: 18%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.secilmissoz{
    width: 45%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.secilmislogo{
    width: 30%;
    height: 5vh;
    background-image: url(../img/heart-simple-shape-silhouette\ \(2\).png);
    background-position: center;
    background-size: 39%;
    background-repeat: no-repeat;
}
.login{
    width: 12%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.loginsoz{
    width: 45%;
    height: 5vh;
    font-size: 1.8vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.loginlogo{
    width: 30%;
    height: 5vh;
    background-image: url(../img/user-silhouette\ \(1\).png);
    background-position: center;
    background-size: 61%;
    background-repeat: no-repeat;
}
.homedeaz{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.az{
    width: 33.3%;
    height: 9vh;
    background-color: #424242;
    border-right: 1px solid #616161;
    border-top: 1px solid #616161;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.bina:hover{
    background-color: #ad7a5a;
    transition:  0.2s;
    
}
.tap:hover{
    background-color: #ff6617;
    transition:  0.2s;
}
.boss:hover{
    background-color: orange;
    transition:  0.2s;
}
.com{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 33.3%;
    height: 9vh;
    font-size: 4.41vh;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.homesalon{
    width: 100%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
}
.salon{
    width: 55%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.butun{
    width: 16%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.avto{
    width: 16%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.magaza{
    width: 23%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.ehtiyat{
    width: 33%;
    height: 6vh;
    background-color: #ca1016;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.z:hover{
    background-color:#e90f3a;
    transition: 0.2s;
}
.sozler{
    width: 100%;
    height: 6vh;
    font-size: 1.95vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.elan{
    width: 16%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ed321;
}
.pluslogo{
    width: 20%;
    height: 6vh;
    background-image: url(../img/plus\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58%;
}
.elan:hover{
    background-color: #6aa52a;
    transition:  0.2s;
}
.sozler1{
    width: 59%;
    height: 6vh;
    font-size: 2.49vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.homeon{
    margin: auto;
    width: 71%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    border-bottom: #e2e0e0 solid 1px;
}
.salonlar{
    width: 45%;
    height: 8vh;
    font-size: 2.4vh;
    display: flex;
    color: #052a5c;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    justify-content: flex-start;
}
.sekiller{
    margin: auto;
    width: 71%;
    height: 48vh;
    background-color:#323232;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sekilesas1{
    width: 45%;
    height: 43vh;
    background-image: url(../img/rr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: zoom-in;
}
.sekilesas2{
    width: 50%;
    height: 43vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box1{
background-image: url(../img/ferrari.jpg);
}
.box2{
background-image: url(../img/bent.jpg);
}
.box3{
background-image: url(../img/bent2.jpg);
}
.box4{
background-image: url(../img/bmw.jpg);
}
.box5{
background-image: url(../img/bmw2.jpg);
}
.box6{
background-image: url(../img/mers.jpg);
}
.box7{
background-image: url(../img/mers2.jpg);
}
.box8{
background-image: url(../img/range.jpg);
}
.box9{
background-image: url(../img/pors.jpg);
}
.box10{
background-image: url(../img/rr.jpg);
}
.box11{
background-image: url(../img/pors.jpg);
}
.zz{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18%;
    height: 9vh;
    cursor: zoom-in;
}
.sekillerqiymet{
    margin: auto;
    width: 71%;
    height: 21vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid#e3f2f9;
    background-color: #f8fcfd;
}
.qiymethome{
    width: 21.5%;
    height: 11vh;
    background-color: #c71b25;

}
.qirmiziag{
    width: 100%;
    height: 11vh;
    font-size: 4vh;
}
.xx{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.qiymetad{
    width: 50%;
    height: 16.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.qiymetbasliq{
    width: 100%;
    height: 9vh;
    font-size: 4.1vh;
    color: #192843;
}
.qiymetelan{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8fcfd;
}
.kubik{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 70.5vh;
    top: 87.8vh;
    border-radius: 5px;
    width: 5%;
    height: 3vh;
    background-color:#c71b25 ;
}
.kubik2{
    left: 90vh;
    top: 87.8vh;
}
.kubik3{
    left: 115vh;
    top: 87.8vh;
}
.ireli1{
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: #c71b25 solid 1px;
    border-radius: 4px;
    cursor: pointer;
}

.bir{
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iki{
    width: 70%;
    height: 6vh;
    font-size: 1.98vh;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #555;
    font-weight: bold;

}
.ireli2{
    width: 25%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: #c71b25 solid 1px;
    border-radius: 4px;
    cursor: pointer;
}

.ireli3{
    width: 34%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: #c71b25 solid 1px;
    border-radius: 4px;
    cursor: pointer;
}
.logo{
    width: 100%;
    height: 3.5vh;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qiymetbaxis{
    width: 20%;
    height: 16.5vh;
    font-size: 1.88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
    color: #646464;


}
.haqqinda{
    margin: auto;
    width: 68%;
    height: 58vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.haqindaesas1{
    width: 23%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:  white;
}
.salon1{
    width: 100%;
    height: 22vh;
    display: flex;
    background-color: rgb(248, 252, 253);
    border: 1px solid rgb(227, 242, 249);
    cursor: pointer;
}
.salonlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
    margin-left: 2vh;
    width: 20%;
    height: 6vh;
  
}
.salonsoz{
    width: 80%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    font-size: 2.2vh;
    font-weight: 600;
    margin-left: 1vh;
    margin-top: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: #192843;
}
.sozreng{
    margin-top: 1vh;
    color: #3c67b6;
}
.market{
    width: 100%;
    height: 9vh;
    display: flex;
    background-color: rgb(248, 252, 253);   
    border: 1px solid rgb(227, 242, 249);
    cursor: pointer;
}
.marketlogo{
    width: 26%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marketsoz{
    width: 70%;
    height: 9vh;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    font-size: 2vh;
    font-weight: 600;
    color: #3c67b6;
    align-items: center;
    justify-content: center;
}
.map{
    width: 100%;
    height: 20vh;
    background-image: url(../img/MAP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.haqindaesas2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 53vh;
    
}
.f{
    border-bottom: 1px solid#e3f2f9;
    width: 100%;
    height: 3.96vh;
    display: flex;

}
.haqqindsozler1{
    width: 50%;
    height: 3.96vh;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.haqqindsozler2{
    width: 50%;
    height: 3.96vh;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.haqqindsozler3{
    font-weight: 600;
    color:  #3c67b6;
}
.haqqindsozler4{
    font-weight: 600;
    color:  #c71b25;
    font-family: 'Source Sans Pro', sans-serif;
}
.haqindaesas3{
    width: 37%;
    height: 53vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}
.haqqindabir{
    width: 100%;
    height: 31vh;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid#e3f2f9;

}
.b{
    width: 100%;
    height: 2.60vh;
    display: flex;

}
.haqqindsozlerbir{
    width: 5%;
    height: 2.50vh;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.haqqindsozleriki{
    width: 95%;
    height: 2.50vh;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.haqqindaiki{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 1px solid rgb(227, 242, 249);
}
.haqqindauc{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
}
.haqqindauc1{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elaveet{
    width: 55%;
    height: 4.5vh;
    border-radius: 2px;
    display: flex;
    border: 1px solid #848484;
    cursor: pointer;
}
.elaveet:hover{
    border: 1px solid orange;
    
}

.c{
    width: 20%;
    height: 4.5vh;
    display: flex;
    margin-left: 1.2vh;
    align-items: center;
    justify-content: center;
}
.m{
    width: 80%;
    height: 4.5vh;
    display: flex;
    margin-right: 2vh;
    align-items: center;
    justify-content: center;
}
.sikayet{
    width: 41%;
    height: 4.5vh;
    display: flex;
    border-radius: 2px;
    border: 1px solid #848484;
    cursor: pointer;
}
.sikayet:hover{
    border: 1px solid gold;
}

.haqqindauc2{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    
}
.duzelis{
    width: 41%;
    height: 4.5vh;
    display: flex;
    border-radius: 2px;
    border: 1px solid #848484;
    cursor: pointer;
}
.duzelis:hover{
    border: 1px solid blue;
}
.elanisil{
    width: 41%;
    height: 4.5vh;
    margin-left: 1.5vh;
    display: flex;
    border-radius: 2px;
    border: 1px solid #848484;
    cursor: pointer;
}
.elanisil:hover{
    border: 1px solid red;
}
.bosluq{
    width: 71%;
    height: 6vh;
    margin: auto;
    border-bottom: 1px solid #848484;
}

.razilasma{
    margin: auto;
    width: 71%;
    height: 28vh;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qirmizixet{
    margin: auto;
    width: 71%;
    height: 0.50vh;
    background-color: #c71b25;
}
.finishome1{
    width: 25%;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.finishome2{
    width: 60%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444444;
}
.sonhome1{
    width: 100%;
    height: 5vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.sonhome2{
    width: 100%;
    height: 8vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.sonhome3{
    width: 100%;
    height: 15vh;
    margin-left: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: #ccc;
}
.containerhome-1-1{
    width: 100%;
    height: 5vh;
    margin-left: 4vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
    color: white;
}
.containerhome-2-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qayda{
    width: 30%;
    margin-left: 2vh;
    height: 5vh;
    display: flex;
    color:white;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;    
}
.qanun{
    width: 70%;
    height: 5vh;
    display: flex;
    align-items: center;
    color:white;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
}
.containerhome-3-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/laptop.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.il2006{
    width: 25%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.turboaz{
    width: 60%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.containerhome-4-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.telogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/phone.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.nomre1{
    width: 40%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.22vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}

.containerhome-5-1{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailogo{
    width: 15%;
    height: 5vh;
    margin-left: 1vh;
    background-image: url(../img/email\ \(1\).png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}
.mail{
    width: 85%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
}
.containerhome-6-1{
    width: 100%;
    height: 5vh;
    margin-left: 4vh;
    display: flex;
    color:white;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.42vh;
    font-family: 'Raleway', sans-serif;
}
.finishome3{
    width: 15%;
    height: 28vh;
    display: flex;
    justify-content: center;
    background-color: #444444;
}
.reytinqlogo{
    width: 60%;
    height: 15vh;
    margin-top: 3vh;
    background-image: url(../img/turbo\ logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
   
}